.highlight {
    background: rgb(0,32,78);
    background: linear-gradient(90deg, rgba(0,32,78,1) 0%, rgba(0,70,119,1) 28%, rgba(0,255,205,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}